[submodule "app/src/main/java/com/sryang/di/repository"]
	path = app/src/main/java/com/sryang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sryang/di/feed_di"]
	path = app/src/main/java/com/sryang/di/feed_di
	url = https://github.com/sarang628/feed_di.git
[submodule "app/src/main/java/com/sryang/torang/di/report_di"]
	path = app/src/main/java/com/sryang/torang/di/report_di
	url = https://github.com/sarang628/report_di.git
[submodule "app/src/main/java/com/sryang/torang/di/main_di"]
	path = app/src/main/java/com/sryang/torang/di/main_di
	url = https://github.com/sarang628/main_di.git
